<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Properties>
        <Property name="LogFileName">/target/out.log</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{default} [%t] (%F) %-5level %logger{36} LogOut: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>


        <Logger name="com" level="debug" additivity="false">
            <AppenderRef ref="Console">

            </AppenderRef>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>