<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{default} [%t] (%F) %-5level %logger{36} - %msg%n}{TRACE=blue}" />
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="com.test0" level="error">

        </Logger>

        <Logger name="com" level="fatal">

        </Logger>

        <Root level="fatal">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>